adal==1.2.7
aiohttp==3.9.3
azure-core==1.30.0
azure-identity==1.15.0
azure-storage-blob==12.19.0
azure-storage-file-datalake==12.14.0
azure-storage-file-share==12.15.0
chardet==5.2.0
charset-normalizer==3.3.2
codetiming==1.4.0
cryptography==42.0.2
idna==3.6
isodate==0.6.1
msal==1.26.0
msal-extensions==1.1.0
numpy==1.26.4
pandas==2.2.0
portalocker==2.8.2
pyarrow==15.0.0
pyjwt==2.8.0
pytz==2024.1
tzdata==2023.4
urllib3==2.2.0